<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/socketHandler.js"></script>

<section class="page">
  <header>
    <h1>Lunar Rebellion</h1>
    <section>
      <h2>Welcome {{username}}</h2>
      <a href="/" id="newGameBtn">New Game</a>
    </section>
  </header>
  <section id="contentArea">
    <section id="sideContent" class="player-info-side">
      <section class="player-card">
        <p>Player:</p>
        <p class="player-name">{{player}}</p>
      </section>
      <aside class="tool">
        <div id="diceResult">
          <small id="diceContent">Click to Roll Dice</small>
        </div>
        <button id="rollDiceBtn">Roll Dice</button>
      </aside>
    </section>
    <section class="playArea">
      <div class="board" id="boardTiles">
          {{#each tiles}}
            <div class="board-tile" id="{{id}}" data-boxposition="{{@index}}" >
              <span>{{title}}</span>
            </div>
          {{/each}}
      </div>
    </section>
    <section id="chat">
      <button id="colapseChatBtn">Colapse chat</button>
      <button id="expandChatBtn">Expand chat</button>
      <ul id="messages"></ul>
      <form id="chatBox" action="">
        <input id="m" autocomplete="off" placeholder="Type chat message here" />
        <button id="chatSubmitBtn">Send</button>
      </form>
    </section>


  </section>
</section>

<script src="js/addPlayerAvatar.js"></script>
<script src="js/moveAvatar.js"></script>
<script>
  $(document).ready(function() {
    var currentPosition = addPlayerAvatar("{{player}}");

    // gather cells to create event listeners for all the cells:
    var tileCells = document.querySelectorAll(".board-tile");
    result = [];

    // place crown on board
    var crownPosition = addLunarCrown(currentPosition, tileCells);
    crownPosition = parseInt(crownPosition);

    // add the event listeners for all the cells:
    for (var z = 0; z < tileCells.length; z++) {
      result = tileCells[z];
      result.addEventListener('click', function() {
        currentPosition = moveAvatar(this, currentPosition, crownPosition);
      });
    }

  })

</script>
<script src="js/rollDice.js"></script>


